rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // School Profile
    match /school_profile/{document} {
      allow read, write: if true;
    }
    
    // Activities
    match /activities/{document} {
      allow read, write: if true;
    }
    
    // Announcements
    match /announcements/{document} {
      allow read, write: if true;
    }
    
    // Submissions
    match /submissions/{document} {
      allow read, write: if true;
    }
  }
}
